/* common全体共通 */

body {
  margin: 0;
}

img {
vertical-align: bottom;
margin-right: 80px;
margin-left: 80px;
}

/* header */

header {
  background:#fdeff2;
  }

header .container {
  /* width: 400px;
  margin: 0 auto; */
 padding: 32px 0;
  display:flex;
  align-items: center;
} 

header .container div + div {
  margin-left: 32px;
}

header h1 {
  /* font-weight:  normal; */
  font-size: 24px;
  color: #38b48b;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
header ul li + li {
  margin-left: 8px;
}
 header .icon {
  border-radius: 50%;
 }

i {
  font-size: 24px;
  color: #ee827c;
}

/* main */

main h1,h2 {
  width: 600px;
  margin-left: 80px;
  margin-top: 80px;
  font-size: 20px;
  
  color: #38b48b
 
}

main .container {
  display: flex;
  justify-content: center;
}

p {
line-height: 30px;
margin-left: 80px;
}
/* footer */

footer {
  padding: 60px 0;
  text-align: center;
  color: #aaa;
}