/* common */

body {
  margin: 0;
  /* text-align: center; */
}

i {
  font-size: 24px;
  color: #ee827c;
}

img {
  vertical-align: bottom;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  font-weight:bold;
  color:#38b48b;
}

.container {
  width: 400px;
  margin: 0 auto;
}

.ol {
  text-align: left;
}

/* header */

header {
  background:#fdeff2;
}

header .container {
  padding: 32px 0 ;
  display: flex;
  align-items: center;
}
header .container div + div {
  margin-left: 32px;
}
header h1{
  font-size: 24px;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header ul li + li {
 margin-left: 8px;
}

header .icon {
  border-radius: 50%;
}

/* main */


h1 {
  font-size: 24px;
  text-align: center;
  padding: 60px 0; 

}

h2 {
  font-size: 20px;
  margin-top: 16px;
  text-align: center;
}

.bold {
  font-weight:bold;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
  line-height: 48px;

}
.class1 {
text-align: center;
}

.class2 {
  text-align: center;
  }

  .class3 {
    text-align: center;
    } 

    .class4 {
      text-align: center;
      }

/* footer */

footer {
  padding: 60px 0;
  text-align: center;
  color: #aaa;
}